.square {
  width: 100px;
  height: 100px;
  align-content: center;
}

.active {
  opacity: 0.5;
}

.inactive {
  opacity: 1;
}

.disabled {
  opacity: 0.2;
}

.simon-red {
  background-color: red;
}

.simon-green {
  background-color: #11a400;
}

.simon-blue {
  background-color: blue;
}

.simon-yellow {
  background-color: yellow;
}

.simon-red-pressed {
  background-color: #910000;
}

.simon-green-pressed {
  background-color: #005300;
}

.simon-blue-pressed {
  background-color: #000085;
}

.simon-yellow-pressed {
  background-color: #99a200;
}
